<?xml version="1.0"?>
<!--
/**
 * Colissimo Rule Module
 *
 * @author    Magentix
 * @copyright Copyright © 2019 Magentix. All rights reserved.
 * @license   https://www.magentix.fr/en/licence.html Magentix Software Licence
 * @link      https://colissimo.magentix.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Colissimo_Rule" setup_version="2.1.0">
        <sequence>
            <module name="Colissimo_Shipping"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Config"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Payment"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Rule"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
